*{
  font-family: 'Courier New', Courier, monospace;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-image: url(./bg.jpeg);
  background-position: center;
  background-size: cover;
}

.main{
  display: flex;
}

.left{
  flex-basis: 75%;
  display: flex;
  align-items: center;
  margin-top: 70px;
  flex-direction: column;
}

.left p{
  font-size: 25px;
  margin-left: 30px;
  background-color: rgb(26, 25, 25);
  color: aliceblue;
  padding: 20px;
  border-radius: 10px;
}

.design{
  background-color: black;
  color: aliceblue;
  padding: 20px;
  font-size: 35px;
  border: none;
  border-radius: 10px;
}

.dev{
  background-color: black;
  color: aliceblue;
  padding: 20px;
  font-size: 35px;
  border: none;
  border-radius: 10px;
}


.left h1{
  font-size: 70px;
}

.right{
  flex-basis: 25%;
}

.top-right{
  margin-top: 40px;
  margin-right: 20px;
}

.top-right h2{
  font-size: 30px;
}

.top-right h3{
  margin-top: -15px;
  font-size: 20px;
}

.skill{
  margin-left: 20px;
  background-color: black;
  color: aliceblue;
  width: 150px;
  border-radius: 10px;
  margin-top: 50px;
  padding: 20px;
}

.skill h1{
  font-size: 35px;
  margin-left: px;
}

.skill hr{
  width: 100px;
}

.skill ul li{
  font-size: 18px;
  margin-left: -15px;
  list-style-type: none;
  text-decoration: none;
  margin-top: 5px;
}

@media (max-width:400px) {
  .left{
    flex-basis: 75%;
  }
  .right{
    flex-basis: 25%;
  }
  .left p{
    font-size: 15px;
    margin-left: 15px;
  }
  .left h1{
    font-size: 30px;
    margin-left: 60px;
  }
  .design{
    font-size: 20px;
    margin-left: 60px;
  }
  .dev{
    font-size: 20px;
    margin-top: 5px;
    margin-left: 60px;
  }
  .top-right h2{
  font-size: 12px;
  }
  .top-right h3{
    margin-top: -10px;
    font-size: 12px;
  }
  .skill {
    width: 90px;
    padding: 10px;
    margin-right: 10px;
  } 
  .skill h1{
    font-size: 20px;
  }
  .skill ul li{
    font-size: 12px;
    margin-left: -30px;
  }
  body{
    background-image: url(./mobile-version2.jpeg);
  }
}